<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GORNIK ZABRZE</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!--nav [phone]-->
    <nav class="Nav-phone">
        <div class="navigation">
            <div class="menu-toggle"></div>

        </div>


        </div>
        <div class="logo">
            <ion-icon name="star-outline" class='star'></ion-icon>

            <%-include('./includes/gorSvg.ejs')%>

        </div>
        <ion-icon name="search-outline"></ion-icon>
    </nav>
    <!--nav [Desktop]-->
    <nav class="Nav-dsktop">
        <div class="left-nav ">
            <div>
                <ion-icon name="star-outline" class='star'></ion-icon>

                <%-include('./includes/gorSvg.ejs')%>


            </div>
            <div>
                <h3>GORNIK ZABRZE</h3>
                <span>offical site</span>
            </div>
        </div>
        <div class="right-nav ">
            <div>
                <div></div>
                <div>
                    <%-include('./includes/adidas.ejs')%>

                </div>
                <div>
                    <%-include('./includes/alinaz.ejs')%>

                </div>
                <div class="lang ">
                    <h3>en</h3>
                    <ion-icon name="chevron-down-outline"></ion-icon>
                </div>
                <div></div>

            </div>

            <ul class="links ">
                <li>
                    <a href=" ">news</a>
                </li>
                <li>
                    <a href=" ">club</a>
                </li>
                <li>
                    <a href=" ">teams</a>
                </li>
                <li>
                    <a href=" ">matches</a>
                </li>
                <li>
                    <a href=" ">tickets</a>
                </li>
                <li>
                    <a href=" ">fans</a>
                </li>
                <li>
                    <a href=" ">shop</a>
                </li>
                <li>
                    <a href=" ">
                        <ion-icon name="search-outline"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <!--hero-->
    <main>
        <div class="line"></div>
        <div class="line2 line"></div>
        <div class="svg-container">
            <div class="svg">

                <%-include("includes/facebook.ejs")  %>

            </div>
            <div class="svg">
                <%-include("includes/twitter.ejs")  %>

            </div>
            <div class="svg">
                <%-include("includes/google.ejs")  %>



            </div>
            <div class="svg">
                <%-include("includes/youtube.ejs")  %>
            </div>

        </div>

        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade  ">
                <div class="first">
                    <div class="content-slider-text">

                        <button class="club-btn">club</button>
                        <div class="text-container">
                            <h2>miliks's special visit</h2>
                        </div>
                        <div class="d-flex">
                            <ion-icon name="print-outline"></ion-icon>
                            <div class="line-under-container">
                                <a href="">more</a> <span class="line-under"></span>

                            </div>
                        </div>
                    </div>
                    <div class="index"> 01</div>
                </div>
            </div>

            <div class="mySlides fade">
                <div class="first">
                    <div class="ine"></div>

                    <div class="content-slider-text">

                        <button class="club-btn">club</button>
                        <div class="text-container">
                            <h2>miliks's special visit</h2>
                            <div class="d-flex">
                                <ion-icon name="print-outline"></ion-icon>
                                <div class="line-under-container">
                                    <a href="">more</a> <span class="line-under"></span>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="index"> 02</div>
                </div>
            </div>

            <div class="mySlides fade">
                <div class="first">

                    <div class="content-slider-text">

                        <button class="club-btn">club</button>
                        <div class="text-container">
                            <h2>miliks's special visit</h2>
                        </div>
                        <div class="d-flex">
                            <ion-icon name="print-outline"></ion-icon>
                            <div class="line-under-container">
                                <a href="">more</a> <span class="line-under"></span>

                            </div>
                        </div>
                    </div>
                    <div class="index"> 03</div>
                </div>
            </div>



            <!-- The dots/circles -->
            <div class="dots-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
    </main>

    <!---section 2-->
    <div class="section2 wrapper">
        <div class="match-club">
            <div class="match-part">
                <div>
                    <h2>match schedule</h2>
                </div>
                <div class="d-flex">
                    <ion-icon name="print-outline"></ion-icon>
                    <div class="line-under-container">
                        <a href="">more</a> <span class="line-under"></span>

                    </div>
                </div>

            </div>
            <div class="club">
                <div>
                    <h5 class="ekstra">ekstralasa</h5>
                </div>
                <div class="match-container">
                    <div class='match-result'>
                        <div class="group-info">
                            <div>
                                <ion-icon name="star-outline" class='star'></ion-icon>
                                <%-include("includes/gorSvg.ejs")%>


                            </div>
                            <p>GORNIK ZABRZE</p>
                        </div>
                        <div>5</div>
                    </div>
                    <div>:</div>
                    <div class='match-result'>
                        <div>2</div>
                        <div class="group-info">
                            <%-include("includes/elgandia.ejs")%>
                                <p>plast guwice</p>

                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="zab-title">ZABRZE city stadium</h4>
                    <p class="date">26.03.2016</p>
                </div>
            </div>
        </div>


        <div class="match-club">
            <div class="parts2">

                <div class='parts2-child'>
                    <div>
                        <h5>polish cup</h5>
                    </div>
                    <div class="match-container">

                        <div class='match-result'>
                            <div class="group-info">
                                <%-include("includes/legal.ejs")%>

                                    <p>legia warszawa</p>

                            </div>
                        </div>
                        <div>vs</div>

                        <div class='match-result'>
                            <div class="group-info">
                                <div>
                                    <ion-icon name="star-outline" class='star'></ion-icon>
                                    <%-include("includes/gorSvg.ejs")%>

                                </div>
                                <p>GORNIK ZABRZE</p>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h4 class="zab-title">polish army stadium</h4>
                        <p class="date">30.03.2016</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="match-club">
            <div class="parts2">

                <div class='parts2-child'>
                    <div>
                        <h5>polish cup</h5>
                    </div>
                    <div class="match-container">

                        <div class='match-result'>
                            <div class="group-info">
                                <%-include("includes/slask.ejs")%>

                                    <p>Śląsk Wrocław</p>

                            </div>
                        </div>
                        <div>vs</div>

                        <div class='match-result'>
                            <div class="group-info">
                                <div>
                                    <ion-icon name="star-outline" class='star'></ion-icon>
                                    <%-include("includes/gorSvg.ejs")%>

                                </div>
                                <p>GORNIK ZABRZE</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h4 class="zab-title">municipal stdium in wroclaw</h4>
                        <p class="date">3.04.2016</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='cards-container'>
            <div class='card-container'>
                <div>
                    <img src="img/1646849726470.jpeg" alt=" ">
                </div>
                <div>
                    <h5>latest new</h5>
                    <div>
                        <h2>roman <br> gergel scorer 4 gols</h2>
                    </div>
                    <div class="more">
                        <ion-icon name="camera-outline"></ion-icon>
                        <a href=" ">more</a>
                    </div>
                </div>

            </div>
            <div class='card-container'>
                <div>
                    <img src="img/1646849726470.jpeg" alt=" ">
                </div>
                <div>
                    <h5> teams</h5>
                    <div>
                        <h2>line-up for <br> the upcoming match</h2>
                    </div>
                    <div class='more'>
                        <ion-icon name="reader-outline"></ion-icon> <a href=" ">more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----->


    <script type="module " src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js "></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js "></script>
    <script src="js/script.js "></script>

</body>

</html>
</body>

</html>

</html>